@charset "UTF-8";
.cardunit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-js-display: flex;
	display: flex;
	width: 960px;
	height: 630px;
	margin: 0 auto;
	padding: 30px 0px;
}
.cardunit.is-scrollin .content_img[data-scroll-active="toggleClass"] .dimmed {
	opacity: 0;
}
.cardunit.is-show .dimmed,
.cardunit.is-show .content_img[data-scroll-active="toggleClass"] .dimmed {
	opacity: 0.9;
}
.cardunit.theme_white .dimmed {
	background-color: #161616;
}
.cardunit.theme_white .content_txt,
.cardunit.theme_white .learn {
	color: #fff;
}
.cardunit .is-keyfocus {
	outline: 1px dotted #808080 !important;
	outline: auto -webkit-focus-ring-color !important;
}
.cardunit .content_txt {
	position: relative;
	width: 38%;
	margin-left: 70px;
	color: #000;
}
.cardunit .content_txt .type,
.cardunit .content_txt .desc {
	font-family: arial;
	font-weight: bold;
}
.cardunit .content_txt .type {
	display: inline-block;
	font-size: 18px;
}
.cardunit .content_txt .desc {
	margin-top: 20px;
	font-size: 54px;
}
.cardunit .dimmed {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.cardunit .content_img[data-scroll-active="toggleClass"] .dimmed {
	opacity: 0.6;
}
.cardunit .learn {
	display: inline-block;
	margin-top: 20px;
	font-size: 11px;
	color: #000;
	text-decoration: underline;
	text-transform: uppercase;
	z-index: 10;
}
.cardunit_half {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-js-display: flex;
	display: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cardunit_half .cardunit {
	width: 448px;
	height: 596px;
}
.cardunit_half .cardunit .content_txt {
	width: 80%;
	margin-top: 50px;
	margin-left: 50px;
}
.cardunit_half .cardunit .content_txt .desc {
	font-size: 34px;
}
.cardunit_half .cardunit.align_right .content_txt {
	width: 36%;
}
.cardunit_half .cardunit_detail .content_txt {
	margin-top: 0;
}
.cardunit_inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.cardunit_content {
	position: relative;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-js-display: flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.is-show .cardunit_content .content_img {
	-webkit-transform: scale(1.04583, 1.04762);
	-ms-transform: scale(1.04583, 1.04762);
	transform: scale(1.04583, 1.04762);
	-webkit-box-shadow: 15px 15px 45px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 15px 15px 45px 0 rgba(0, 0, 0, 0.3);
}
.is-show .cardunit_content .content_img img {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.is-show .cardunit_content .content_img_filter {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.is-show .cardunit_content .content_img_filter_polyfill {
	display: block;
}
.is-show .cardunit_content .content_img .js-picture + .content_img_filter_polyfill {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.is-show .cardunit_content .content_txt,
.is-show .cardunit_content .cardunit_btn {
	display: none;
}
.cardunit_content .content_img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 10px 10px 45px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 10px 10px 45px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: -webkit-transform cubic-bezier(0, 0, 0, 1) 0.4s;
	transition: -webkit-transform cubic-bezier(0, 0, 0, 1) 0.4s;
	transition: transform cubic-bezier(0, 0, 0, 1) 0.4s;
	transition: transform cubic-bezier(0, 0, 0, 1) 0.4s, -webkit-transform cubic-bezier(0, 0, 0, 1) 0.4s;
}
.is-hover .cardunit_content .content_img {
	-webkit-box-shadow: 15px 15px 45px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 15px 15px 45px 0 rgba(0, 0, 0, 0.3);
}
.is-hover .cardunit_content .content_img img {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.is-hover .cardunit_content .content_img .js-picture + .content_img_filter_polyfill {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.cardunit_content .content_img img {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	width: 100%;
}
.cardunit_content .content_img canvas {
	width: 100%;
	height: auto;
}
.cardunit_content .content_img_filter_polyfill {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cardunit_content .content_img_filter_polyfill image {
	width: 100%;
	height: auto;
}
.cardunit_content .content_img .js-picture + .content_img_filter_polyfill {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.align_center .cardunit_content {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.align_center .cardunit_content .content_txt {
	margin-left: 0;
	text-align: center;
}
.align_right .cardunit_content {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.align_right .cardunit_content .content_txt {
	margin-left: 0;
	margin-right: 50px;
}
.align_top .cardunit_content {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	-ms-grid-row-align: baseline;
	align-items: baseline;
}
.align_top .cardunit_content .content_txt {
	margin-top: 70px;
}
.align_bottom .cardunit_content {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
	align-items: flex-end;
}
.align_bottom .cardunit_content .content_txt {
	margin-bottom: 70px;
}
.cardunit_btn {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	outline: 0;
}
.cardunit_btn.is-keyfocus {
	outline: 0 none !important;
}
.cardunit_btn.is-keyfocus .cardunit_ico {
	outline: 1px dotted #808080 !important;
	outline: auto -webkit-focus-ring-color !important;
}
.cardunit_ico {
	position: absolute;
	right: 35px;
	bottom: 35px;
}
.cardunit_ico svg {
	width: 35px;
	height: 35px;
	fill: #fff;
}
.cardunit_ico.close,
.is-show .cardunit_ico.expand {
	display: none;
}
.cardunit_ico.expand,
.is-show .cardunit_ico.close {
	display: block;
}
.is-hover .cardunit_ico .arw1,
.is-show .cardunit_ico .arw1 {
	-webkit-animation: 0.6s cubic-bezier(0, 0, 0.36, 1) 0.3s infinite alternate arwBounce1;
	animation: 0.6s cubic-bezier(0, 0, 0.36, 1) 0.3s infinite alternate arwBounce1;
}
.is-hover .cardunit_ico .arw2,
.is-show .cardunit_ico .arw2 {
	-webkit-animation: 0.6s cubic-bezier(0, 0, 0.36, 1) 0.3s infinite alternate arwBounce2;
	animation: 0.6s cubic-bezier(0, 0, 0.36, 1) 0.3s infinite alternate arwBounce2;
}
.is-show .cardunit_ico .arw1,
.is-show .cardunit_ico .arw2 {
	-webkit-animation-timing-function: cubic-bezier(1, 0.36, 1, 1);
	animation-timing-function: cubic-bezier(1, 0.36, 1, 1);
}
.cardunit_detail {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-js-display: flex;
	display: flex;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	outline: 0;
	-webkit-transform: scale(1.04583, 1.04762);
	-ms-transform: scale(1.04583, 1.04762);
	transform: scale(1.04583, 1.04762);
}
.is-show .cardunit_detail {
	opacity: 1;
}
.cardunit_detail .content_txt .desc_detail {
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.3;
	font-weight: normal;
}
.cardunit_detail .content_txt .desc_detail .disclaimer {
	display: block;
	margin-top: 20px;
	font-size: 13px;
}
@-webkit-keyframes arwBounce1 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(8%, -8%);
		transform: translate(8%, -8%);
	}
}
@keyframes arwBounce1 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(8%, -8%);
		transform: translate(8%, -8%);
	}
}
@-webkit-keyframes arwBounce2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(-8%, 8%);
		transform: translate(-8%, 8%);
	}
}
@keyframes arwBounce2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(-8%, 8%);
		transform: translate(-8%, 8%);
	}
}
